<div class="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6">
                <div class="about_thumb">
                    <img class="img-fluid" src="/images/photo_1.jpg" alt="Пчеловод-любитель)">
                </div>
            </div>
            <div class="col-xl-8 col-md-6">
                <div class="about_info">
                    <h1>О проекте и разработчике:</h1>
                    <h3>Домашенко Дмитрий</h3>
                    <p>Данный дипломный проект был выполнен в рамках курса C# (.Net) разработчика в TeachMeSkills.</p>
                    <p>В работе были использованы следующие технологии:</p>
                    <ul>
                        <li class="list-item">
                            Cерверная часть - ASP.NET Core MVC, использование DI-container, методы Async/Await
                        </li>
                        <li class="list-item">
                            Клиентская часть - Bootstrap, CSS/HTML, JavaScript
                        </li>
                        <li class="list-item">
                            СУБД - MS SQL Server и T-SQL
                        </li>
                        <li class="list-item">
                            CRUD операции с помощью LINQ
                        </li>
                        <li class="list-item">
                            ORM - Entity Framework Core
                        </li>
                        <li class="list-item">
                            Система управления версиями - Git, Github по методологии Gitflow
                        </li>
                    </ul>
                    <p>Знания, полученные в ходе прохождения курса, позволили реализовать следующие поставленные цели:</p>
                    <ul>
                        <li class="list-item">
                            Валидация на стороне клиента и на стороне сервера.
                        </li>
                        <li class="list-item">
                            Стилизованные предупреждения с помощью JavaScript
                        </li>
                        <li class="list-item">
                            Использование частичных представлений для товаров
                        </li>
                        <li class="list-item">
                            CRUD операции для категорий и товаров
                        </li>
                        <li class="list-item">
                            Регистрация пользователя и настройка управления ролями
                        </li>
                        <li class="list-item">
                            Добавление сессий для работы с пользователями
                        </li>
                        <li class="list-item">
                            Создание контроллера корзины покупок и регистрация заказов
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>