<div class="text-center">

    <h1 class="text-info">Inquiry Confirmation</h1>

    <p><strong>We have recieved your inquiry and will beeee in touch with you shortly!</strong></p>

    <img src="/images/thx.jpg" />
</div>